<a href="https://colab.research.google.com/github/Shivaramkarthik/ML_24AG5A6618/blob/main/Data_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import pandas as pd
data=pd.read_csv('/content/Name-Age-Gender-Marks-Citys.csv')
data.head()

    Name   Age Gender  Marks      City
0  ailce  18.0      f   85.0    london
1    bob   NaN      m   90.0  new york
2  cathy  19.0      f   95.0       NaN
3  david  17.0      m   72.0    sydeny
4    eva  18.0      f    NaN    london

In [7]:
data.fillna({
    'Age':data['Age'].mean(),
    'Marks':data['Marks'].mean(),
    'City':'Unknown'
},inplace=True)
print(data)

    Name   Age Gender  Marks      City
0  ailce  18.0      f   85.0    london
1    bob  18.0      m   90.0  new york
2  cathy  19.0      f   95.0   Unknown
3  david  17.0      m   72.0    sydeny
4    eva  18.0      f   85.5    london

DATA 2

In [8]:
import pandas as pd
data={
    'Name':['alice','bob','alice'],
    'Age':[18,17,18],
    'Gender':['F','M','F'],
    'Marks':[85,90,85]

}
df=pd.DataFrame(data)
print("Original data:")
print(df)
df_no_duplicates=df.drop_duplicates()
print("\nData after removing duplicates:")
print(df_no_duplicates)

Original data:
    Name  Age Gender  Marks
0  alice   18      F     85
1    bob   17      M     90
2  alice   18      F     85

Data after removing duplicates:
    Name  Age Gender  Marks
0  alice   18      F     85
1    bob   17      M     90

checking the datatype

In [9]:
import pandas as pd
df = pd.DataFrame({
    'Name': ['Alice', 'john'],
    'Age': [25, 30],
    'Salary': [50000, 55000]
})
print(df.dtypes)

Name      object
Age        int64
Salary     int64
dtype: object

**using astype()**
convert the specific columns to desired types

In [10]:
df['Age']=df['Age'].astype(int)
df['Salary']=df['Salary'].astype(float)
print(df.dtypes)

Name       object
Age         int64
Salary    float64
dtype: object

using pd to numeric handle(error)

In [11]:
df['Age']=pd.to_numeric(df['Age'],errors='coerce')
df['Salary']=pd.to_numeric(df['Salary'],errors='coerce')
print(df.dtypes)

Name       object
Age         int64
Salary    float64
dtype: object

In [25]:
import pandas  as pd
data['Gender']=data['Gender'].map({'f':1,'m':0})
print(data)

    Name   Age  Gender  Marks      City
0  ailce  18.0       1   85.0    london
1    bob   NaN       0   90.0  new york
2  cathy  19.0       1   95.0       NaN
3  david  17.0       0   72.0    sydeny
4    eva  18.0       1    NaN    london

In [26]:
import os
print(os.listdir('/content/sample_data/'))

['README.md', 'anscombe.json', 'mnist_train_small.csv', 'california_housing_train.csv', 'mnist_test.csv', 'california_housing_test.csv']

FEATURE SCALING

In [27]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
data[['Marks']]=scaler.fit_transform(data[['Marks']])
print(data)

    Name   Age  Gender     Marks      City
0  ailce  18.0       1  0.565217    london
1    bob   NaN       0  0.782609  new york
2  cathy  19.0       1  1.000000       NaN
3  david  17.0       0  0.000000    sydeny
4    eva  18.0       1       NaN    london

In [28]:
import pandas as pd
data = {
    'Name': ['Alice', 'Bob', 'Cathy','David'],
    'Age': [18, 20, 22,19],
    'Gender': ['F', 'M', 'F','M'],
    'Marks': [85, 90, 78,88]
}
df=pd.DataFrame(data)
print(df)

    Name  Age Gender  Marks
0  Alice   18      F     85
1    Bob   20      M     90
2  Cathy   22      F     78
3  David   19      M     88

In [35]:
def grade(marks):
    if marks >= 85:
        return 'A'
    elif marks >= 70:
        return 'B'
    else:
        return 'C'

df['Grade'] = df['Marks'].apply(grade)
print(df)

    Name  Age Gender  Marks Grade
0  Alice   18      F     85     A
1    Bob   20      M     90     A
2  Cathy   22      F     78     B
3  David   19      M     88     A

In [36]:
data=pd.read_csv('/content/Name-Age-Gender-Marks-Citys.csv')
data=data [(data['Marks']>=60)&(data['Marks']<=100)]
print(data)

    Name   Age Gender  Marks      City
0  ailce  18.0      f   85.0    london
1    bob   NaN      m   90.0  new york
2  cathy  19.0      f   95.0       NaN
3  david  17.0      m   72.0    sydeny