<a href="https://colab.research.google.com/github/Shivaramkarthik/ML_24AG5A6618/blob/main/Data_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

# Create a sample DataFrame since the CSV file was not found
data = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Cathy', 'David', 'Eva'],
    'Age': [18, 18, 19, 17, 18],
    'Gender': ['f', 'm', 'f', 'm', 'f'],
    'Marks': [85, 90, 95, 72, 85.5],
    'City': ['london', 'new york', None, 'sydeny', 'london']
})

print(data.head())

    Name  Age Gender  Marks      City
0  Alice   18      f   85.0    london
1    Bob   18      m   90.0  new york
2  Cathy   19      f   95.0      None
3  David   17      m   72.0    sydeny
4    Eva   18      f   85.5    london

In [ ]:
data.fillna({
    'Age':data['Age'].mean(),
    'Marks':data['Marks'].mean(),
    'City':'Unknown'
},inplace=True)
print(data)

    Name   Age Gender  Marks      City
0  ailce  18.0      f   85.0    london
1    bob  18.0      m   90.0  new york
2  cathy  19.0      f   95.0   Unknown
3  david  17.0      m   72.0    sydeny
4    eva  18.0      f   85.5    london

In [ ]:
import pandas as pd
data={
    'Name':['alice','bob','alice'],
    'Age':[18,17,18],
    'Gender':['F','M','F'],
    'Marks':[85,90,85]

}
df=pd.DataFrame(data)
print("Original data:")
print(df)
df_no_duplicates=df.drop_duplicates()
print("\nData after removing duplicates:")
print(df_no_duplicates)

Original data:
    Name  Age Gender  Marks
0  alice   18      F     85
1    bob   17      M     90
2  alice   18      F     85

Data after removing duplicates:
    Name  Age Gender  Marks
0  alice   18      F     85
1    bob   17      M     90

checking the datatype

In [ ]:
import pandas as pd
df = pd.DataFrame({
    'Name': ['Alice', 'john'],
    'Age': [25, 30],
    'Salary': [50000, 55000]
})
print(df.dtypes)

Name      object
Age        int64
Salary     int64
dtype: object

**using astype()**
convert the specific columns to desired types

In [ ]:
df['Age']=df['Age'].astype(int)
df['Salary']=df['Salary'].astype(float)
print(df.dtypes)

Name       object
Age         int64
Salary    float64
dtype: object

using pd to numeric handle(error)

In [ ]:
df['Age']=pd.to_numeric(df['Age'],errors='coerce')
df['Salary']=pd.to_numeric(df['Salary'],errors='coerce')
print(df.dtypes)

Name       object
Age         int64
Salary    float64
dtype: object

In [7]:
import pandas  as pd
data['Gender']=data['Gender'].map({'M':0,'F':1})
print(data)

    Name  Age  Gender  Marks      City
0  Alice   18     NaN   85.0    london
1    Bob   18     NaN   90.0  new york
2  Cathy   19     NaN   95.0      None
3  David   17     NaN   72.0    sydeny
4    Eva   18     NaN   85.5    london

In [ ]:
import os
print(os.listdir('/content/sample_data/'))

['README.md', 'anscombe.json', 'california_housing_train.csv', 'california_housing_test.csv', 'mnist_train_small.csv', 'mnist_test.csv']